<div class="bootstrap-wrapper">

  <app-root>Sagenda is loading...</app-root>

  <script>
    window.sagendaToken = '{{token}}';
    // window.sagendaBearerToken = '{{bearerToken}}';
    window.sagendaWeekStartsOn = '{{weekStartsOn}}';
    window.sagendaLanguageCultureShortName = '{{languageCultureShortName}}';
    window.sagendaDateFormat = '{{dateFormat}}';
    window.sagendaTimeFormat = '{{timeFormat}}';

    // Translations
    window.sagendaTranslationNext = '{{sagendaTranslationNext}}';
    window.sagendaTranslationToday = '{{sagendaTranslationToday}}';
    window.sagendaTranslationPrevious = '{{sagendaTranslationPrevious}}';
    window.sagendaTranslationMonth= '{{sagendaTranslationMonth}}';
    window.sagendaTranslationWeek = '{{sagendaTranslationWeek}}';
    window.sagendaTranslationDay = '{{sagendaTranslationDay}}';

    window.sagendaTranslationSubscriptionTitle = '{{sagendaTranslationSubscriptionTitle}}';
    window.sagendaTranslationSubscriptionTitleMrs = '{{sagendaTranslationSubscriptionTitleMrs}}';
    window.sagendaTranslationSubscriptionTitleMr = '{{sagendaTranslationSubscriptionTitleMr}}';
    window.sagendaTranslationSubscriptionTitleMiss = '{{sagendaTranslationSubscriptionTitleMiss}}';
    window.sagendaTranslationSubscriptionTitleDr = '{{sagendaTranslationSubscriptionTitleDr}}';
    window.sagendaTranslationSubscriptionFirstName = '{{sagendaTranslationSubscriptionFirstName}}';
    window.sagendaTranslationSubscriptionLastName = '{{sagendaTranslationSubscriptionLastName}}';
    window.sagendaTranslationSubscriptionEmail = '{{sagendaTranslationSubscriptionEmail}}';
    window.sagendaTranslationSubscriptionPhone = '{{sagendaTranslationSubscriptionPhone}}';
    window.sagendaTranslationSubscriptionDescription = '{{sagendaTranslationSubscriptionDescription}}';

    /* TODO : Utile?*/
    window.sagendaTranslationFrom= '{{sagendaTranslationFrom}}';
    window.sagendaTranslationTo = '{{sagendaTranslationTo}}';
  </script>
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/inline.bundle.js"></script>
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/polyfills.bundle.js"></script>
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/vendor.bundle.js"></script>
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/main.bundle.js"></script>
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/styles.bundle.js"></script>

</div>
