
<!-- <link rel="stylesheet" href="https://toert.github.io/Isolated-Bootstrap/versions/3.3.7/iso_bootstrap3.3.7min.css"> -->
<!-- <script>window.__theme = 'bs4';</script> -->
<div class="bootstrap">
  <app-root>Sagenda is loading...</app-root>
  <script>
    window.sagendaToken = '{{token}}';
    window.sagendaBearerToken = '{{bearerToken}}';
    window.sagendaWeekStartsOn = '{{weekStartsOn}}';
    window.sagendaLanguageCultureShortName = '{{languageCultureShortName}}';
    window.sagendaDateFormat = '{{dateFormat}}';
    window.sagendaTimeFormat = '{{timeFormat}}';

    // Translations
    window.sagendaTranslationNext = '{{sagendaTranslationNext}}';
    window.sagendaTranslationToday = '{{sagendaTranslationToday}}';
    window.sagendaTranslationPrevious = '{{sagendaTranslationPrevious}}';
    window.sagendaTranslationMonth= '{{sagendaTranslationMonth}}';
    window.sagendaTranslationWeek = '{{sagendaTranslationWeek}}';
    window.sagendaTranslationDay = '{{sagendaTranslationDay}}';

    window.sagendaTranslationSubscriptionTitle = '{{sagendaTranslationSubscriptionTitle}}';
    window.sagendaTranslationSubscriptionTitleMrs = '{{sagendaTranslationSubscriptionTitleMrs}}';
    window.sagendaTranslationSubscriptionTitleMr = '{{sagendaTranslationSubscriptionTitleMr}}';
    window.sagendaTranslationSubscriptionTitleMiss = '{{sagendaTranslationSubscriptionTitleMiss}}';
    window.sagendaTranslationSubscriptionTitleDr = '{{sagendaTranslationSubscriptionTitleDr}}';
    window.sagendaTranslationSubscriptionFirstName = '{{sagendaTranslationSubscriptionFirstName}}';
    window.sagendaTranslationSubscriptionLastName = '{{sagendaTranslationSubscriptionLastName}}';
    window.sagendaTranslationSubscriptionEmail = '{{sagendaTranslationSubscriptionEmail}}';
    window.sagendaTranslationSubscriptionPhone = '{{sagendaTranslationSubscriptionPhone}}';
    window.sagendaTranslationSubscriptionDescription = '{{sagendaTranslationSubscriptionDescription}}';

    /* TODO : Utile?*/
    window.sagendaTranslationFrom= '{{sagendaTranslationFrom}}';
    window.sagendaTranslationTo = '{{sagendaTranslationTo}}';
  </script>

  <!-- <link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css"> -->

  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->

  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/inline.bundle.js"></script>
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/polyfills.bundle.js"></script>
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/vendor.bundle.js"></script>
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/main.bundle.js"></script>
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/styles.bundle.js"></script>

</div>
