<div class="bootstrap-wrapper">

  <app-root>Sagenda is loading...</app-root>

  <script>
    window.sagendaIntegration = 'WordPress';
    window.sagendaToken = '{{token}}';
    // window.sagendaBearerToken = '{{bearerToken}}';
    window.sagendaWeekStartsOn = '{{weekStartsOn}}';
    window.sagendaLanguageCultureShortName = '{{languageCultureShortName}}';
    window.sagendaDateFormat = '{{dateFormat}}';
    window.sagendaTimeFormat = '{{timeFormat}}';
  </script>
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/inline.bundle.js"></script>
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/polyfills.bundle.js"></script>
  <!-- <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/vendor.bundle.js"></script> -->
  <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/main.bundle.js"></script>
  <!-- <script type="text/javascript" src="{{SAGENDA_PLUGIN_URL}}assets/angular/styles.bundle.js"></script> -->

</div>
