{% extends "search.twig" %}

{# This view will display result #}

{% block searchResult %}
<br/>
<div class="form-group">
  <label for="description">{{ clickAnEventToBookIt }}</label>
</div>

{% if availability is empty %}
  <div class="alert alert-warning" role="alert">{{ warningNoBookingFound }}</div>
{% else %}
  {# Booking list #}
  <ul class="list-group">
  {% for event in availability %}
  <a href="?EventIdentifier={{event.EventIdentifier}}&DateDisplay={{event.DateDisplay}}&EventScheduleId={{event.EventScheduleId}}"> <li class="list-group-item"><span class="badge">book-it!</span>{{event.DateDisplay}}</li></a>
  {% endfor %}
  </ul>
{% endif %}

{# TODO: implement pagination
<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>
#}
{% endblock %}
