{% extends "wrapper.twig" %}
{% block content %}

<div class="row">
{% if isError %}
<div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{% endif %}

<div class="col-xs-9 text-left">
  <h2>{{ searchForEventsBetween }}</h2>
</div>
<div class="col-xs-3 text-right">
  <button class="btn btn-lg btn-default" type="submit" name="submit">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> {{ help }}
  </button>
</div>
</div>
<p>test = {{ test }}</p>
<form action="" method="post">

  <div class="form-group">
    <label for="fromDate">{{ fromLabel }}</label>
    <input id="fromDate" data-value="{{fromDate}}" class="datepickerFrom form-control" name="fromDate" type="text" onchange="this.form.submit()">
  </div>
  <div class="form-group">
    <label for="to">{{ toLabel }}</label>
    <input id="to" data-value="{{toDate}}" class="datepickerTo form-control" name="to" type="text" onchange="this.form.submit()">
  </div>

  <div class="form-group">
    <label for="bookableItems">{{ bookableItemsLabel }}</label>
    <select class="form-control" id="bookableItems" name="bookableItems" onchange="this.form.submit()">
      {% set nb = 0 %}
      {% for item in bookableItems %}
      <option {% if nb == selectedId %}selected{% endif %} value="{{nb}}">{{item.Name}}</option>
      {% set nb = nb +1 %}
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="location">{{ locationLabel }}</label>
    <input type="text" class="form-control" placeholder="{{locationValue}}" readonly>
  </div>
  <div class="form-group">
    <label for="description">{{ descriptionLabel }}</label>
    <input type="text" class="form-control" placeholder="{{ descriptionValue }}" readonly>
  </div>
</form>

<div id="container"></div>

<!-- TODO : Check why this made a TypeError: undefined is not an object (evaluating 'jQuery.fn.pickatime.defaults') -->
{% if pickerTranslated|length > 0 %}
<script type="text/javascript">
{{pickerTranslated|raw }}
</script>
{% endif %}

<script type="text/javascript">
var $input = jQuery('.datepickerFrom').pickadate({
  format: '{{dateFormat}}',
  container: '#container',
  closeOnSelect: true,
  closeOnClear: false,
})
var picker = $input.pickadate('picker')
</script>

<script type="text/javascript">
var $input = jQuery('.datepickerTo').pickadate({
  format: '{{dateFormat}}',
  container: '#container',
  closeOnSelect: true,
  closeOnClear: false,
})
var picker = $input.pickadate('picker')
</script>

{% block searchResult %}

{% endblock %}
{% endblock %}
