{% extends "wrapper.twig" %}
{% block content %}

<h2>{{ subscription }}</h2>

<form action="" method="post" data-toggle="validator">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Your selected booking :</h3>
    </div>
    <div class="panel-body">
      {{booking.DateDisplay}}
    </div>
    <div class="panel-footer" style="font-style:italic">Now, let's book it! Please fill out the form below.</div>
  </div>

  {% if warning is not empty  %}
  <div class="alert alert-warning" role="alert">{{ warning }}</div>
  {% endif  %}

  <div class="form-group">
    <label for="courtesy">{{ title }}</label>
    <select name="courtesy" class="form-control">
      <option value="{{titleMrs}}">{{titleMrs}}</option>
      <option value="{{titleMr}}">{{titleMr}}</option>
      <option value="{{titleMiss}}">{{titleMiss}}</option>
      <option value="{{titleDr}}">{{titleDr}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="firstname">{{ firstname }} (*)</label>
    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="{{ firstname }}" value="{{booking.FirstName}}" required>
  </div>

  <div class="form-group">
    <label for="lastname">{{ lastname }} (*)</label>
    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="{{ lastname }}" value="{{booking.LastName}}" required>
  </div>

  <div class="form-group">
    <label for="email">{{ email }} (*)</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="{{ email }}" value="{{booking.Email}}" required>
  </div>

  <div class="form-group">
    <label for="phone">{{ phone }} (*)</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="{{ phone }}" value="{{booking.PhoneNumber}}" required>
  </div>

  <div class="form-group">
    <label for="description">{{ description }}</label>
    <textarea class="form-control" rows="3" id="description" name="description" placeholder="{{ description }}">{{booking.Description}}</textarea>
  </div>

  <div class="row">
    <div class="col-xs-6 text-left"><a href="?"><button type="button" class="btn btn-warning">{{ backToCalendar }}</button></a></div>
    <div class="col-xs-6 text-right"><button type="submit" class="btn btn-success btn-lg">{{ submit }}</button></div>
  </div>
</form>
{% endblock %}
